.example-spacer {
  flex: 1 1 auto;
}

.mainbody {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1348px;
  mat-form-field {
    width: 100%;
  }
}

.action {
  display: flex;
  gap: 5px;
}
.paginator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; /* Optional: Adjust for spacing */
}
