<div mat-dialog-title>
    <h1>Employee Form</h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit(empForm.value)">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>First name</mat-label>
                <input matInput type="text" placeholder="Ex. Technical" formControlName="firstName">
                <mat-error *ngIf="empForm.get('firstName')?.hasError('required')">
                    First Name is required
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Ex. Babaji" formControlName="lastName">
                <mat-error *ngIf="empForm.get('lastName')?.hasError('required')">
                    Last Name is required
                </mat-error>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="Ex. test@gmail.com" formControlName="email">
                <mat-error *ngIf="empForm.get('email')?.hasError('required')">
                    Email is required
                </mat-error>
                <mat-error *ngIf="empForm.get('email')?.hasError('email')">
                    Please enter a valid email address
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Roles</mat-label>
                <mat-select formControlName="roles">
                    <mat-option *ngFor="let val of roles" [value]="val">{{val}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="empForm.get('roles')?.hasError('required')">
                    Role is required
                </mat-error>
            </mat-form-field>
        </div>

    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
    </div>
</form>